#admin-console-container {
    top: 75px;
    position: absolute;
    width: 100%;
    color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 10%);
    padding: 30px;
    height: 150vh;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
}