.list-container {

    /* border: solid orange; */
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
li {
    /* border: solid blue; */
    width: 300px;
    list-style: none;
    height: fit-content;
    /* border: solid red; */
}