.product-container {
    border: solid hsl(0, 0%, 20%) .5px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 15%);
    width: 300px;
    box-shadow:
      0 2px 2px hsla(0deg 0% 80% / .1),
      0 4px 4px hsla(0deg 0% 80% / .3),
      0 8px 8px hsla(0deg 0% 80% / .5);

}
.product-info {
    color: hsl(0, 0%, 90%);
    padding: 20px;
}

.product-container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.product-container h1 {
    color: hsl(0, 0%, 90%);
}

.product-container h2 {
    color: hsl(0, 0%, 85%);
}

button {
    border-top: solid hsl(0, 0%, 20%) .5px;
    background: none;
    color: hsl(0, 0%, 90%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:  20px;
    width: 100%;
    text-align: center;
    margin: 0;
    background-color: hsl(0, 0%, 20%);

}

button:hover {
    background-color: hsl(0, 0%, 25%);
    transition: .2s ease;
    cursor: pointer;
}